table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
}

.detail {
  overflow: hidden;
  display: flex;
}

.description {
  padding: 16px;
}

table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.row:not(.expanded-row):hover {
  background: rgb(223, 223, 223);
}

tr.row:not(.expanded-row):active {
  background: rgb(223, 223, 223);
}

.row td {
  border-bottom-width: 0;
}

.diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}


.description {
  padding: 16px;
}
