<div
  class="mat-typography"
  fxLayout="column"
  fxLayoutAlign="space-evenly stretch"
  fxLayoutGap="10px"
>
  <div fxFlexAlign="center">
    <section>
      <h1>Devices</h1>
    </section>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between stretch">
    <div>
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Search"
          [(ngModel)]="searchString"
          (keyup)="search(searchString, null, null)"
        />
      </mat-form-field>
    </div>
    <div>
      <button
        [routerLink]="['/devices/create']"
        mat-mini-fab
        color="primary"
        matTooltip="Create Record"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div *ngIf="dataSource">
    <table
      mat-table
      [dataSource]="dataSource.data"
      multiTemplateDataRows
      class="mat-elevation-z8"
      matSort
    >

      <ng-container matColumnDef="id" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="purchased">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Purchased</th>
        <td mat-cell *matCellDef="let element">{{ element.purchased | date: "shortDate" }}</td>
      </ng-container>

      <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
        <td mat-cell *matCellDef="let element">{{ element.value | currency }}</td>
      </ng-container>

      <ng-container matColumnDef="productId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product Number</th>
        <td mat-cell *matCellDef="let element">{{ element.productId }}</td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Category</th>
        <td mat-cell *matCellDef="let element">{{ element.category }}</td>
      </ng-container>

      <ng-container matColumnDef="maker">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Maker</th>
        <td mat-cell *matCellDef="let element">{{ element.maker }}</td>
      </ng-container>

      <ng-container matColumnDef="employeesAssigned">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Employees Assigned</th>
        <td mat-cell *matCellDef="let element">{{ element.employeesAssigned }}</td>
      </ng-container>

      <ng-container matColumnDef="details">
        <th mat-header-cell *matHeaderCellDef>Details</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="primary"
            (click)="redirectToDetails(element.id)"
          >
            <mat-icon class="mat-18">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>Delete</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-icon-button
            color="warn"
            (click)="confirmDialog(element.id)"
          >
            <mat-icon class="mat-18">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="description">
        <td
          mat-cell
          *matCellDef="let element"
          [attr.colspan]="displayedColumns.length"
        >
          <div
            class="detail"
            [@detailExpand]="
              element == expandedElement ? 'expanded' : 'collapsed'
            "
          >
            <div class="description">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>
                    <mat-chip-list>
                      <mat-chip color="primary" selected>Description</mat-chip>
                    </mat-chip-list>
                  </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                  {{ element.description }}
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="row"
        [class.expanded-row]="expandedElement === row"
        (click)="expandedElement = expandedElement === row ? null : row"
      ></tr>

      <tr
        mat-row
        *matRowDef="let row; columns: ['description']"
        class="detail-row"
      ></tr>
    </table>
  </div>
  <div fxFlexAlign="center" *ngIf="dataSource">
    <mat-paginator
      showFirstLastButtons
      [pageSizeOptions]="[10, 20, 50]"
      [length]="dataSource.count"
      [pageSize]="dataSource.recordsPerPage"
      [pageIndex]="dataSource.page - 1"
      (page)="pageEvent = $event; onPaginateChange($event)"
    >
    </mat-paginator>
  </div>
</div>
