<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a>
      Project Inventory
    </a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="20px" class="navigation-items">
      <li>
        <a>
          <mat-icon class="icon" routerLink="/">home</mat-icon>
          <span class="label">Home</span>
        </a>
      </li>
    </ul>
  </div>
</mat-toolbar>
<main></main>
