<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <a mat-button routerLink="/">
        HOME
      </a>
    </span>
    <span class="spacer"></span>
    <div class="flex-container">
      <button
        mat-icon-button
        routerLink="/"
        matTooltip="Home"
      >
        <mat-icon>home</mat-icon>
      </button>
      <button 
        mat-icon-button 
        routerLink="/device/devices" 
        matTooltip="Device"
      >
        <mat-icon>devices</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<main></main>
