.sidenav-container {
  height: 100%;
}

.mat-spacer {
  /* This fills the remaining space, by using flexbox. 
         Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-sidenav {
  width: auto;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

// .mat-toolbar.mat-primary {
//   position: fixed;
// }

.mat-drawer-side {
  border: none;
}

.white-spacing {
  background-color: transparent;
  margin-top: 100px;
}

.active-link {
  background-color: rgb(240, 226, 226);
}

.float {
  width: auto;
  z-index: 9;
  float: left;
}
