.sidenav-container {
  // height: 100%;
  // width: 100%;
  // top: 64px;
  // position: absolute;
  // bottom: 0px;
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
}

.mat-spacer {
  /* This fills the remaining space, by using flexbox. 
         Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-sidenav {
  display: flex;
  width: auto;
  box-shadow: 3px 0 6px (0, 0, 0, 0.24);
  position: fixed;
  justify-content: center;
  align-items: center;
}

.mat-drawer-side {
  border: none;
}

.white-spacing {
  background-color: transparent;
  margin-top: 100px;
}

.active-link {
  background-color: #dcdcdc;
  border: none;
}

.header {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
}
