<mat-toolbar color="primary" class="header">
 <!-- TOOLBAR -->
  <!-- Not handheld -->
    <!--toolbar chevron toggl-->
    <ng-container *ngIf="!isExpanded && !isHs">
      <button
        type="button"
        aria-label="Toggle sidenav"
        matTooltip="Expand Menu"
        mat-mini-fab
        color="primary"
        (click)="expand()"
      >
        <mat-icon aria-label="Side nav toggle icon">chevron_right</mat-icon>
      </button>
    </ng-container>
  
    <!--sidenav toolbar chevron toggle-->
    <ng-container *ngIf="isExpanded && !isHs">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-mini-fab
        matTooltip="Collapse Menu"
        color="primary"
        (click)="contract()"
      >
        <mat-icon aria-label="Side nav toggle icon" *ngIf="sidenav.opened"
          >chevron_left</mat-icon
        >
      </button>
    </ng-container>
  <!-- EO Not handheld -->
  
  <!-- Handheld -->
    <!--Sidenav toggle button-->
    <ng-container *ngIf="isHs">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-mini-fab
        color="primary"
        mat-icon-button
        (click)="sidenav.toggle()"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </ng-container>
  
  <!--EO Handheld -->
  
    <!-- Title -->
    <span class="mat-spacer"></span>
    <span
      ><a mat-button routerLink="/">
        Project Inventory
      </a>
    </span>
  </mat-toolbar>
  
<mat-sidenav-container class="sidenav-container" autosize>

  <mat-sidenav
    #sidenav
    fixedInViewport="false"
    fixedTopGap="0"
    [attr.role]="isHs ? 'dialog' : 'navigation'"
    mode="side"
    [opened]="isHs ? false : true"
  >
    <!-- sidenav navigation list -->
    <div class="white-spacing">
      <mat-toolbar *ngFor="let nav of navItems" color="white">

        <!-- Each nav item is a row -->
        <mat-toolbar-row 
          [routerLink]="nav.link" 
          [routerLinkActive]="['active-link']"
        >
          <div fxLayout="row" fxLayoutAlign="space-between center">

            <!-- nav item icon button -->
            <div>
              <button
                mat-icon-button
                [matTooltip]="nav.page"
                [matTooltipPosition]="nav.tooltipPos"
                color="accent"
              >
                <mat-icon
                  >{{ nav.icon }}
                </mat-icon>
              </button>
            </div>

            <!--nav item button with nav text -->
            <div *ngIf="isExpanded">
                <a 
                  mat-button 
                  class="mat-small"
                  >{{ nav.page }}
                </a>
            </div>

          </div>
        </mat-toolbar-row>

      </mat-toolbar>
    </div>
  </mat-sidenav>

  <!-- EO: Side nav-->

  <mat-sidenav-content>
    <!--App content-->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
