<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="isHs ? 'dialog' : 'navigation'"
    [mode]="isHs ? 'push' : 'side'"
    [opened]="isHs ? false : true"
  >
    <!-- Header -->
    <mat-toolbar color="primary">
      <!-- This fills the remaining space of the current row -->
      <span class="toolbar-filler"></span>
      <!--sidenav toolbar chevron toggle-->
      <span>
        <ng-container *ngIf="!isHs">
          <button
            type="button"
            aria-label="Toggle sidenav"
            mat-mini-fab
            matTooltip="Collapse Menu"
            color="primary"
            (click)="drawer.toggle()"
          >
            <mat-icon aria-label="Side nav toggle icon" *ngIf="drawer.opened"
              >chevron_left</mat-icon
            >
          </button>
        </ng-container>
      </span>
    </mat-toolbar>

    <!-- sidenav navigation list -->
    <div class="white-spacing">
      <mat-toolbar *ngFor="let nav of navItems" color="white">
        <!-- home -->
        <mat-toolbar-row>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div>
              <button
                mat-icon-button
                color="primary"
                [routerLink]="nav.link"
                [matTooltip]="nav.page"
                [matTooltipPosition]="nav.tooltipPos"
                color="accent"
              >
                <mat-icon>{{ nav.icon }}</mat-icon>
              </button>
            </div>
            <div>
              <ng-container *ngIf="isHs">
                <a [routerLink]="nav.link" class="mat-small">
                  {{ nav.page }}
                </a>
              </ng-container>
            </div>
          </div>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="header">
      <!--Sidenav hamburger toggle button-->
      <ng-container *ngIf="isHs">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-mini-fab
          color="primary"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </ng-container>

      <!--toolbar chevron toggl-->
      <ng-container *ngIf="!drawer.opened && !isHs">
        <button
          type="button"
          aria-label="Toggle sidenav"
          matTooltip="Expand Menu"
          mat-mini-fab
          color="primary"
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">chevron_right</mat-icon>
        </button>
      </ng-container>

      <!-- Title -->
      <span
        ><a mat-button routerLink="/">
          Project Inventory
        </a>
      </span>
    </mat-toolbar>

    <!--App content-->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
