<mat-tab-group>
  <mat-tab label="Details">
    <div
      class="mat-typography"
      fxLayout="column"
      fxLayoutAlign="space-evenly stretch"
      fxLayoutGap="10px"
    >
      <div fxFlexAlign="center">
        <section>
          <h1>Device Details</h1>
        </section>
      </div>
      <mat-card>
        <mat-card-title></mat-card-title>
        <form
          [formGroup]="deviceForm"
          autocomplete="off"
          (ngSubmit)="editDevice(deviceForm.value)"
        >
          <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="space-evenly center">
              <div class="columns">
                <div class="column is-half">
                  <!-- Column1 -->
                  <p>
                    <mat-form-field appearance="outline">
                      <mat-label>Device Tag</mat-label>
                      <input
                        matInput
                        type="text"
                        placeholder="sparkly_clean2"
                        formControlName="name"
                        id="name"
                      />
                      <mat-icon matSuffix>loyalty</mat-icon>
                      <mat-hint align="end"
                        >Not more than 60 characters long.</mat-hint
                      >
                      <mat-error *ngIf="hasError('name', 'required')"
                        >Device Tag is required</mat-error
                      >
                      <mat-error *ngIf="hasError('name', 'maxlength')"
                        >You have more than 60 characters</mat-error
                      >
                    </mat-form-field>
                  </p>
                  <!-- Description -->
                  <p>
                    <mat-form-field appearance="outline">
                      <mat-label>Description</mat-label>
                      <textarea
                        matInput
                        placeholder="The device is in good condition"
                        formControlName="description"
                      ></textarea>
                      <mat-icon matSuffix>description</mat-icon>
                      <mat-hint align="end"
                        >Not more then 100 characters long.</mat-hint
                      >
                      <mat-error *ngIf="hasError('description', 'required')"
                        >Description is required</mat-error
                      >
                      <mat-error *ngIf="hasError('description', 'maxlength')"
                        >You have more than 100 characters</mat-error
                      >
                    </mat-form-field>
                  </p>

                  <!-- Date Purchased -->
                  <p>
                    <mat-form-field appearance="outline">
                      <mat-label>Date Purchased</mat-label>
                      <input
                        matInput
                        [matDatepicker]="picker"
                        [max]="maxDate"
                        placeholder="Device Purchased Date"
                        formControlName="purchased"
                        id="purchased"
                        (click)="picker.open()"
                      />
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #picker color="primary"></mat-datepicker>
                    </mat-form-field>
                  </p>
                  <!-- Value -->
                  <p>
                    <mat-form-field appearance="outline">
                      <mat-label>Value</mat-label>
                      <input
                        class="right-align"
                        matInput
                        type="text"
                        placeholder="1999.10"
                        formControlName="value"
                        matInput
                        type="number"
                      />
                      <mat-icon matSuffix>attach_money</mat-icon>
                      <mat-hint align="end"
                        >Not more then 100 characters long.</mat-hint
                      >
                      <mat-error *ngIf="hasError('value', 'required')"
                        >Description is required</mat-error
                      >
                      <mat-error *ngIf="hasError('value', 'maxlength')"
                        >You have more than 100 characters</mat-error
                      >
                    </mat-form-field>
                  </p>
                </div>
                <div class="column">
                  <!-- Column2 -->
                  <p>
                    <!-- productId-->
                    <mat-form-field appearance="outline">
                      <mat-label>Product Number</mat-label>
                      <input
                        matInput
                        type="text"
                        placeholder="123FF45T"
                        formControlName="productId"
                      />
                      <mat-icon matSuffix>device_unknown</mat-icon>
                      <mat-hint align="end"
                        >Not more then 100 characters long.</mat-hint
                      >
                      <mat-error *ngIf="hasError('productId', 'required')"
                        >Description is required</mat-error
                      >
                      <mat-error *ngIf="hasError('productId', 'maxlength')"
                        >You have more than 100 characters</mat-error
                      >
                    </mat-form-field>
                  </p>
                  <p>
                    <!-- categoryId-->
                    <mat-form-field appearance="outline">
                      <mat-label>Category</mat-label>
                      <input
                        matInput
                        type="text"
                        placeholder="Category"
                        formControlName="categoryId"
                      />
                      <mat-icon matSuffix>markunread_mailbox</mat-icon>
                      <mat-hint align="end"
                        >Not more then 100 characters long.</mat-hint
                      >
                    </mat-form-field>
                  </p>

                  <p>
                    <!-- makerId-->
                    <mat-form-field appearance="outline">
                      <mat-label>Maker</mat-label>
                      <input
                        matInput
                        type="text"
                        placeholder="Maker"
                        formControlName="makerId"
                      />
                      <mat-icon matSuffix>build</mat-icon>
                      <mat-hint align="end"
                        >Not more then 100 characters long.</mat-hint
                      >
                    </mat-form-field>
                  </p>
                  <!-- <p> -->
                  <!-- employeesIds-->
                  <!-- <mat-form-field appearance="outline">
                  <mat-label>Assigned Employees</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Assigned Employees"
                    formControlName="employeesIds"
                  />
                  <mat-hint align="end"
                    >Not more then 100 characters long.</mat-hint
                  >
                </mat-form-field> -->
                  <!-- </p> -->
                </div>
              </div>
            </div>
          </mat-card-content>

          <!-- Action Buttons -->
          <mat-card-actions align="center">
            <ng-container *ngIf="!deviceForm.disabled">
              <button
                type="submit"
                mat-raised-button
                color="primary"
                [disabled]="!deviceForm.valid"
              >
                Save
              </button>
              <button mat-raised-button color="warn" (click)="onCancel()">
                Cancel
              </button>
            </ng-container>
          </mat-card-actions>
        </form>
        <mat-card-actions align="center">
          <ng-container *ngIf="deviceForm.disabled">
            <button mat-raised-button color="primary" (click)="toggleEdit()">
              Edit
            </button>
            <button mat-raised-button color="warn" (click)="confirmDialog()">
              Delete
            </button>
          </ng-container>
        </mat-card-actions>
        <mat-card-footer align="center" class="mat-caption">
          Record Id: {{ device?.id }}
        </mat-card-footer>
      </mat-card>
    </div>
  </mat-tab>
  <!-- Related Tab -->
  <mat-tab
    label="Employees Assigned"
    fxLayout="column"
    fxLayoutAlign="space-around stretch"
  >
    <div
      class="mat-typography"
      fxLayout="column"
      fxLayoutAlign="space-evenly stretch"
      fxLayoutGap="10px"
    >
      <div fxFlexAlign="center">
        <h1>
          Employees Assigned
          <mat-icon>assignment_in</mat-icon>
        </h1>
      </div>

      <mat-table
        [dataSource]="device?.employeeDevicesList"
        class="mat-elevation-z8"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="employeeId">
          <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.employeeId }}
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="employee">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.employee }}
          </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="checkOutDate">
          <mat-header-cell *matHeaderCellDef> Check Out </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.checkOutDate | date: "shortDate" }}
          </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="checkInDate">
          <mat-header-cell *matHeaderCellDef> Check In </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.checkInDate | date: "shortDate" }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </mat-tab>
</mat-tab-group>
