<mat-tab-group>
  <mat-tab label="Details">
    <mat-card>
      <mat-card-content>
        <!-- Device Details Body -->
        <div class="columns">
          <div class="column is-one-fifth">
            <strong>Id:</strong>
          </div>
          <div class="column">
            {{ device?.id }}
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-fifth">
            <strong>Device Tag:</strong>
          </div>
          <div class="column">
            {{ device?.name }}
          </div>
        </div>
        <div class="columns">
          <div class="column is-one-fifth">
            <strong>Description:</strong>
          </div>
          <div class="column">{{ device?.description }}</div>
        </div>

        <div class="columns">
          <div class="column is-one-fifth">
            <strong>Purchased On:</strong>
          </div>
          <div class="column">
            {{ device?.purchased | date: "shortDate" }}
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-fifth">
            <strong>Value:</strong>
          </div>
          <div class="column">
            {{ device?.value | currency }}
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-fifth">
            <strong>Pruduct Number:</strong>
          </div>
          <div class="column">
            {{ device?.productId }}
          </div>
        </div>

        <div class="columns">
          <div class="column is-one-fifth">
            <strong>Category:</strong>
          </div>
          <div class="column">
            {{ device?.category }}
          </div>
        </div>
        <div class="columns">
          <div class="column is-one-fifth">
            <strong>Maker:</strong>
          </div>
          <div class="column">
            {{ device?.maker }}
          </div>
        </div>
        <div class="columns">
          <div class="column is-one-fifth">
            <strong>Employees Assigned:</strong>
          </div>
          <div class="column">
            {{ device?.employeeDevicesList.length }}
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
  <!-- Related Tab -->
  <mat-tab
    label="Employees Assigned"
    fxLayout="column"
    fxLayoutAlign="space-around stretch"
  >
    <div
      class="mat-typography"
      fxLayout="column"
      fxLayoutAlign="space-evenly stretch"
      fxLayoutGap="10px"
    >
      <div fxFlexAlign="center">
        <h1>
          Employees Assigned
          <mat-icon>assignment_in</mat-icon>
        </h1>
      </div>

      <mat-table
        [dataSource]="device?.employeeDevicesList"
        class="mat-elevation-z8"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="employeeId">
          <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.employeeId }}
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="employee">
          <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.employee }}
          </mat-cell>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="checkOutDate">
          <mat-header-cell *matHeaderCellDef> Check Out </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.checkOutDate | date: "shortDate" }}
          </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="checkInDate">
          <mat-header-cell *matHeaderCellDef> Check In </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ element.checkInDate | date: "shortDate" }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </mat-tab>
</mat-tab-group>
