<mat-tab-group>
    <mat-tab label="Details">
      <div class="mat-typography" fxLayout="column" fxLayoutGap="10px">
        <div>
          <section align="center">
            <h1>Maker Details</h1>
          </section>
          <mat-card>
            <mat-card-header class="header">
              <div class="header-actions">
                <div class="columns">
                  <div class="column">
                    <ng-container>
                      <button
                        mat-raised-button
                        color="warn"
                        (click)="confirmDialog()"
                      >
                        Delete
                      </button>
                    </ng-container>
                  </div>
                  <div class="column">
                    <ng-container *ngIf="makerForm.disabled">
                      <button
                        mat-raised-button
                        color="primary"
                        (click)="setToEditMode()"
                      >
                        Edit
                      </button>
                    </ng-container>
                  </div>
                </div>
              </div>
            </mat-card-header>
            <form
              [formGroup]="makerForm"
              autocomplete="off"
              (ngSubmit)="editMaker(makerForm.value)"
            >
              <mat-card-content>
                <div fxLayout="column" fxLayoutAlign="space-evenly center">
                  <div class="columns">
                    <div class="column">
                      <!-- Column1 -->
                      <p>
                        <mat-form-field appearance="outline">
                          <mat-label>Maker Name</mat-label>
                          <input
                            matInput
                            type="text"
                            placeholder="ACME, Inc."
                            formControlName="name"
                            id="name"
                          />
                          <mat-icon matSuffix>loyalty</mat-icon>
                          <mat-hint align="end"
                            >Not more than 60 characters long.</mat-hint
                          >
                          <mat-error *ngIf="hasError('name', 'required')"
                            >Device Tag is required</mat-error
                          >
                          <mat-error *ngIf="hasError('name', 'maxlength')"
                            >You have more than 60 characters</mat-error
                          >
                        </mat-form-field>
                      </p>
                    </div>
                  </div>
                </div>
              </mat-card-content>
  
              <!-- Action Buttons -->
              <mat-card-actions align="center">
                <ng-container *ngIf="!makerForm.disabled">
                  <button
                    type="submit"
                    mat-raised-button
                    color="primary"
                    [disabled]="!makerForm.valid"
                  >
                    Save
                  </button>
                  <button mat-raised-button color="warn" (click)="onCancel()">
                    Cancel
                  </button>
                </ng-container>
              </mat-card-actions>
            </form>
            <mat-card-footer align="center" class="mat-caption">
              Record Id: {{ maker?.id }}
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  