.sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    position: absolute;
    top: 60px;
    bottom: 0px;
    left: 0;
    right: 0;
  }

  .sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    flex: 1;
  }
