<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      mode="side"
      opened
      [fixedInViewport]="false"
      [fixedBottomGap]="0"
      [fixedTopGap]="0"
      class="sidenav"
      fixed
    >
      <mat-nav-list>
        <mat-list>
          <mat-list-item>
            <button
              mat-icon-button
              routerLink="/"
              matTooltip="Home"
              matTooltipPosition="right"
              color="accent"
            >
              <mat-icon>home</mat-icon>
            </button>
          </mat-list-item>
          <mat-list-item>
            <button
              mat-icon-button
              routerLink="/device/devices"
              matTooltip="Device"
              matTooltipPosition="right"
              color="accent"
            >
              <mat-icon>devices</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>