<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    mode="side"
    opened
    [fixedInViewport]="false"
    [fixedBottomGap]="0"
    [fixedTopGap]="0"
    class="sidenav"
    fixed
  >
    <mat-list class="pos">
      <mat-list-item>
        <button
          mat-mini-fab
          color="primary"
          routerLink="/"
          matTooltip="Home"
          matTooltipPosition="right"
          color="accent"
        >
          <mat-icon>home</mat-icon>
        </button>
      </mat-list-item>

      <mat-list-item>
        <button
          mat-mini-fab
          color="primary"
          routerLink="/device/devices"
          matTooltip="Device"
          matTooltipPosition="right"
          color="accent"
        >
          <mat-icon>devices</mat-icon>
        </button>
      </mat-list-item>

      <mat-list-item>
        <button
          mat-mini-fab
          color="primary"
          routerLink="/category/categories"
          matTooltip="Categories"
          matTooltipPosition="right"
          color="accent"
        >
          <mat-icon>category</mat-icon>
        </button>
      </mat-list-item>

    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
